@using Web_CinemaManagement.Models.ModelLinq;
@using PagedList.Mvc
@model PagedList.IPagedList<Web_CinemaManagement.Models.ModelLinq.PHIM>
@helper Truncate(string input, int length)
{

    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length) <text>...</text>
    }

}

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPageCustomer.cshtml";
}

<link href="~/wwwroot/css/DashboardCustomer.css" rel="stylesheet" />
<h1 class="text-center text">DANH SÁCH PHIM NỔI BẬT NHẤT</h1>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <div class="banner">
                <img style="width:100%; height:500px" src="~/wwwroot/PhotoOfTheFilm/@item.HINH_ANH" />
                <p class="text-center"><strong class="font-weight-bold">@item.TENPHIM</strong></p>
                <div class="infoMovie">
                    <div class="textInfo">
                        <strong class="text-light">@item.TENPHIM.ToUpper()</strong>
                        <p><img src="~/wwwroot/Images/category.png" alt="Alternate Text" /> <span>@item.THELOAIPHIM.TENTHELOAI</span></p>
                        <p><img src="~/wwwroot/Images/time.png" alt="Alternate Text" /> <span>@item.THOILUONG</span></p>
                        <p><img src="~/wwwroot/Images/format.png" alt="Alternate Text" /> <span>@item.DANGPHIM.DANGPHIM1</span></p>
                        <p><img src="~/wwwroot/Images/product.png" alt="Alternate Text" /> <span>@item.NHASX</span></p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="/Cinema/Details/@item.MAPHIM"><em>Chi tiết phim</em></a>
                <br />
                <a href="/Tickets/BuyTickets/@item.MAPHIM" class="btn w-50 font-weight-bold">Mua vé</a>
            </div>

        </div>
    }

</div>

<div class="page-item d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Dashboard", "Home", new { page, area = "" }),
 PagedListRenderOptions.ClassicPlusFirstAndLast)

</div>

