@model IEnumerable<Web_CinemaManagement.Models.ModelLinq.PHIM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageCustomer.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MATHELOAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MADP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENPHIM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHASX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYKHOICHIEU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYKETTHUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THOILUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYCAPNHAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HINH_ANH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MATHELOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MADP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENPHIM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHASX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYKHOICHIEU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYKETTHUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THOILUONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYCAPNHAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HINH_ANH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAPHIM }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAPHIM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAPHIM })
        </td>
    </tr>
}

</table>
