
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/wwwroot/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/ForgetPassword.css" rel="stylesheet" />
    <title>ForgetPassword</title>
</head>
<body>
    <div class="row bg-dark">
        <div style="height:100vh" class="col-sm-6 col-6 background"></div>
        <div style="height:100vh; z-index:1000" class="col-sm-6 col-6 w-100 d-flex align-items-center flex-column justify-content-sm-center">
            <h1 class="text-light">Thay đổi mật khẩu</h1>

            <div class="authenticate text-light d-flex justify-content-center align-items-center w-100">
                @using (Html.BeginForm("ForgetPassword", "Authentication", FormMethod.Post, new { @class = "w-75" }))
                {
                    <div class="form-group">
                        @Html.Label("UserName", "Nhập tên đăng nhập")
                        @Html.TextBox("UserName", null, new { @class = "form-control", placeholder = "Tên đăng nhập" })
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.Label("Email", "Nhập email đã đăng ký")
                        @Html.TextBox("Email", null, new { @class = "form-control", type = "email", placeholder = "*@gmail.com" })
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button id="sendmail" type="button" class="btn btn-block btn-primary">Xác thực tài khoản</button>
                    </div>

                    <div class="form-group code">
                        @Html.Label("UserName", "Nhập mã xác thực")
                        <div class="d-flex">
                            @Html.TextBox("code", null, new { @class = "form-control w-50 mr-3" })
                            <button id="confirm" type="button" class="btn btn-success">Gửi</button>

                        </div>
                        <span class="text-danger" id="fail"></span>
                    </div>

                }
            </div>


            <div class="changePass text-light justify-content-center align-items-center w-100">
                @using (Html.BeginForm("ChangePass", "Authentication", FormMethod.Post, new { @class = "w-75" }))
                {
                    @Html.Hidden("User", null);
                    <div class="form-group">
                        @Html.Label("NewPass", "Nhập mật khẩu mới")
                        @Html.TextBox("NewPass", null, new { @class = "form-control", type = "password" })
                    </div>
                    <div class="form-group d-flex ml-4">
                        @Html.CheckBox("checkpassNew", false, new { @class = "form-check" })
                        <span class="ml-3">Hiện thị mật khẩu</span>
                    </div>
                    <div class="form-group">
                        @Html.Label("NewPassAgain", "Nhập lại mật khẩu mới")
                        @Html.TextBox("NewPassAgain", null, new { @class = "form-control", type = "password" })
                    </div>
                    <div class="form-group d-flex ml-4">
                        @Html.CheckBox("checkpassAgain", false, new { @class = "form-check" })
                        <span class="ml-3">Hiện thị mật khẩu</span>
                    </div>

                    <div class="form-group">
                        <button id="send" type="submit" class="btn btn-block btn-primary">Đổi mật khẩu</button>
                    </div>

                    <span id="diff" class="text-center"></span>


                }
            </div>
            <span class="text-success"><strong>@ViewBag.mess</strong></span>
            <span class="text-danger"><strong>@ViewBag.err</strong></span>

            @Html.ActionLink("Quay lại trang đăng nhập", "Login", "Authentication");
        </div>
    </div>
    <script src="~/wwwroot/Bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/wwwroot/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/ForgetPassword.js"></script>
</body>
</html>
